{% extends "yayberhood/layout.html" %}

{% load static %}



{% block title %}
{% endblock %}


{% block stylesheet %}
    <link href="{% static 'yayberhood/css/hobbies.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'yayberhood/js/hobbies.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="pageTitle-container">
        <p class="pageTitle">Hobbies</p>
    </div>
   
    <div class="row">
        <div class="col-2"></div>   
        <div class="col-8">
            <div class="row" style="margin-top: 40px;">
                <div class="col hobbies-categoriesFilterToggle" id="hobbies-categoriesFilterToggle"> 
                    Categories
                </div>
                <div class="col" style="padding-right: 30px; text-align: right;">
                    <p name="hobbies-addGroup" style="font-size: 20px;">
                        {% if user.is_authenticated %}
                            <a class="createButton" href="{% url 'createHobbyGroup' %}">
                            <i class="fas fa-plus plus-icon" style="font-size: 20px; vertical-align: middle; color: #00c08d; padding-bottom: 3px;"></i>
                            Group
                        </a>
                        {% else %}
                            <i class="fas fa-plus plus-icon" style="font-size: 20px; vertical-align: middle; color: #00c08d; padding-bottom: 3px;"></i>
                            Login to create a new group
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row hobbies-category-list" id="hobbies-category-list" style="display: block;">
                {% for hobby_group_category_used in hobby_group_categories_used %}
                    <div class="row hobbies-category">
                        <p class="hobbies-categoryName col-10" name="hobbies-categoryName" data-categoryName="{{hobby_group_category_used}}">
                           {{ hobby_group_category_used }}
                        </p>
                        <div>
                            <div class="hobbies-designCircle">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="hobbies-scrollView" id="hobbies-scrollView" style="margin-top: 40px; overflow-y: scroll; max-height: 700px; display: none;">
                {% for hobby_group in hobby_groups %}
                <div class="row hobbies-outer-box" name="hobbies-outer-box" data-categoryName="{{hobby_group.hobbyGroupCategories}}">
                    <div class="row" name="expandPost" data-postId = {{hobby_group.id}}>
                        <i class="fas fa-angle-down postPocket" data-postId = {{hobby_group.id}}></i>
                    </div>
                    <div class="row hobbies-inner-box">
                        <div class="col-8">
                            <p class="hobbies-groupTitle"> {{hobby_group.hobbyGroupName}} </p>
                            <p class="hobbies-groupDescription"> {{hobby_group.hobbyGroupDescriptionShort}} </p>
                            <div class="expandedPostView" name="expandedPostView" id="expandedPostView_{{hobby_group.id}}">
                                <br>
                                <p><u>Details</u></p>
                                <p class="hobbies-groupDescription">{{hobby_group.hobbyGroupDescriptionDetailed}}</p>
                                {% if user.is_authenticated %}
                                    <form action="{% url 'hobbies' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group" style="margin-top: 24px;">
                                            <input style="background-color: #00c08d;" type="submit" class="form-control" value="Request Membership">
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                            <p class="hobbies-groupCreationTimestamp"> <i>Created: {{hobby_group.hobbyGroupCreationTimestamp}} | Category: {{hobby_group.hobbyGroupCategories}}</i></p>
                        </div>
                        <div class="col-4">
                            <div class="profilePhotoBorder">
                                <img class="profilePhoto" src={{hobby_group.hobbyGroupOwner.profilePhotoUrl}} >
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-2"></div> 
    </div>   

{% endblock %}
