{% extends "yayberhood/layout.html" %}
{% load static %}



{% block title %}
{% endblock %}


{% block stylesheet %}
    <link href="{% static 'yayberhood/css/landingPage.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                <div class="lp_image_container">
                    <a href="{% url 'littleProjects' %}" class="lp_image_link" >
                        <img class="lp_image img-fluid" src="{% static 'yayberhood/img/LittleProject.png' %}">
                        <p class="lp_image_title">Little Project</p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="lp_image_container">
                    <a href="{% url 'hobbies' %}" class="lp_image_link" >
                        <img class="lp_image img-fluid" src="{% static 'yayberhood/img/Hobbies.png' %}">
                        <p class="lp_image_title">Hobbies</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col">
                <div class="lp_image_container">
                    <a href="#" class="lp_image_link" >
                        <img class="lp_image img-fluid" src="{% static 'yayberhood/img/LittleHelper.png' %}">
                        <p class="lp_image_title">Little Helper</p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="lp_image_container">
                    <a href="#" class="lp_image_link" >
                        <img class="lp_image img-fluid" src="{% static 'yayberhood/img/BorrowIt.png' %}">
                        <p class="lp_image_title">Borrowit</p>
                    </a>
                </div>
            </div>        
        </div>
    </div>



{% endblock %}

{% block script %}
{% endblock %}