{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'yayberhood/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <img class="headerImg" src="https://www.visit-mannheim.de/extension/portal-mannheim/var/storage/images/media/bibliothek/alle-anderen-bilder-1200x800/arbeiten-und-gruenden/mannheim-my-future/mannheim-sonnenuntergang-luftaufnahme-1920x1080/89716-1-ger-DE/mannheim-sonnenuntergang-luftaufnahme-1920x1080.jpg">
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse border-3" >
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Home</a>
                    <a class="nav-item nav-link" href="#">Little Projects</a>
                    <a class="nav-item nav-link" href="#">Hobbies</a>
                    <a class="nav-item nav-link" href="#">BorrowIt</a>
                    <a class="nav-item nav-link" href="#">Little Helpers</a>
                    <a class="nav-item nav-link" href="#">Profile</a>
                </div>
            </div>
        </nav>

        {% block body %}
        {% endblock %}
    </body>
</html>