{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'yayberhood/css/layout.css' %}" rel="stylesheet">
        {% block stylesheet %}
        {% endblock %}
        
        <script src="https://kit.fontawesome.com/5b9f98b1a0.js" crossorigin="anonymous"></script>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="background">    
            <div class="headerImg border border-light">
                <nav class="navbar navbar-expand-lg navbar-skin" >
                    <div class="navbar-nav navbar-skin">
                        <a class="nav-item nav-link" href="{% url 'index' %}" style="margin-left: 60px; margin-right: 60px; ">        
                            <i class="fas fa-home" style="font-size: 32px"></i>
                        </a>
                        <div class="navbar-nav navbar-skin border-3">
                            <a class="nav-item nav-link" href="{% url 'littleProjects' %}">Little Projects</a>
                            <a class="nav-item nav-link" href="#">Hobbies</a>
                            <a class="nav-item nav-link" href="#">BorrowIt</a>
                            <a class="nav-item nav-link" href="#">Little Helpers</a>
                        </div>
                        <a class="nav-item nav-link" href="#" style="margin-left: 60px; margin-right: 60px">
                            <i class="far fa-user"  style="font-size: 32px"></i>
                        </a>
                    </div>
                </nav>
            </div>
            {% block body %}
            {% endblock %}
        </div>


          
          


    </body>
</html>