{% extends "yayberhood/layout.html" %}

{% load static %}



{% block title %}
{% endblock %}


{% block stylesheet %}
    <link href="{% static 'yayberhood/css/littleProjects.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="pageTitle-container">
        <p class="pageTitle">Little Projects</p>
    </div>

    <div class="row">
        <div class="col-2"></div>   
        <div class="col-8">
            <div class="row" style="margin-top: 40px;">
                <div class="col" style="padding-right: 30px; text-align: right;">
                    <p name="littleProjects-addProject" style="font-size: 20px;">
                        <a class="createButton" href="{% url 'createLittleProject' %}">
                        <i class="fas fa-plus plus-icon" style="font-size: 20px; vertical-align: middle; color: #00c08d; padding-bottom: 3px;"></i>
                         Project
                        </a>
                    </p>
                </div>
            </div>
            <div class="littleProjects-scrollView" style="margin-top: 40px; overflow-y: scroll; max-height: 700px;">
                <div class="row littleProjects-outer-box" style="margin-top: 0px;">
                    <div class="row">
                        <i class="fas fa-angle-down littleProjects-pocket"></i>
                    </div>
                    <div class="row littleProjects-inner-box">
                        <div class="col-8">
                            <p class="littleProjects-projectTitle"> Title of Project</p>
                            <p class="littleProjects-projectShortDescription"> Short description of project </p>
                        </div>
                        <div class="col-4">
                            <div class="profilePhotoBorder">
                                <img class="profilePhoto" src="{% static 'yayberhood/img/ProfileGabi.jpg' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row littleProjects-outer-box">
                    <div class="row"> 
                            <i class="fas fa-angle-down littleProjects-pocket"></i>
                    </div>
                    <div class="row littleProjects-inner-box">
                        <div class="col-8">
                            <p class="littleProjects-projectTitle"> Title of Project</p>
                            <p class="littleProjects-projectShortDescription"> Short description of project </p>
                        </div>
                        <div class="col-4">
                            <div class="profilePhotoBorder">
                                <img class="profilePhoto" src="{% static 'yayberhood/img/ProfileGabi.jpg' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row littleProjects-outer-box">
                    <div class="row">
                        <i class="fas fa-angle-down littleProjects-pocket"></i>
                    </div>
                    <div class="row littleProjects-inner-box">
                        <div class="col-8">
                            <p class="littleProjects-projectTitle"> Title of Project</p>
                            <p class="littleProjects-projectShortDescription"> Short description of project </p>
                        </div>
                        <div class="col-4">
                            <div class="profilePhotoBorder">
                                <img class="profilePhoto" src="{% static 'yayberhood/img/ProfileGabi.jpg' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row littleProjects-outer-box">
                    <div class="row">
                        <i class="fas fa-angle-down littleProjects-pocket"></i>
                    </div>
                    <div class="row littleProjects-inner-box">
                        <div class="col-8">
                            <p class="littleProjects-projectTitle"> Title of Project</p>
                            <p class="littleProjects-projectShortDescription"> Short description of project </p>
                        </div>
                        <div class="col-4">
                            <div class="profilePhotoBorder">
                                <img class="profilePhoto" src="{% static 'yayberhood/img/ProfileGabi.jpg' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row littleProjects-outer-box">
                    <div class="row">
                        <i class="fas fa-angle-down littleProjects-pocket"></i>
                    </div>
                    <div class="row littleProjects-inner-box">
                        <div class="col-8">
                            <p class="littleProjects-projectTitle"> Title of Project</p>
                            <p class="littleProjects-projectShortDescription"> Short description of project </p>
                        </div>
                        <div class="col-4">
                            <div class="profilePhotoBorder">
                                <img class="profilePhoto" src="{% static 'yayberhood/img/ProfileGabi.jpg' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row littleProjects-outer-box">
                    <div class="row">
                        <i class="fas fa-angle-down littleProjects-pocket"></i>
                    </div>
                    <div class="row littleProjects-inner-box">
                        <div class="col-8">
                            <p class="littleProjects-projectTitle"> Title of Project</p>
                            <p class="littleProjects-projectShortDescription"> Short description of project </p>
                        </div>
                        <div class="col-4">
                            <div class="profilePhotoBorder">
                                <img class="profilePhoto" src="{% static 'yayberhood/img/ProfileGabi.jpg' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> 
        <div class="col-2"></div>
    </div>  
{% endblock %}
