{% extends "yayberhood/layout.html" %}

{% load static %}



{% block title %}
{% endblock %}


{% block stylesheet %}
    <link href="{% static 'yayberhood/css/littleProjects.css' %}" rel="stylesheet">
{% endblock %}


{% block script %}
    <script src="{% static 'yayberhood/js/littleProjects.js' %}"></script>
{% endblock %}


{% block body %}
    <div class="pageTitle-container">
        <p class="pageTitle">Little Projects</p>
    </div>

    <div class="row">
        <div class="col-2"></div>   
        <div class="col-8">
            <div class="row" style="margin-top: 40px;">
                <div class="col" style="padding-right: 30px; text-align: right;">
                    <p name="littleProjects-addProject" style="font-size: 20px;">
                        {% if user.is_authenticated %}
                            <a class="createButton" href="{% url 'createLittleProject' %}">
                            <i class="fas fa-plus plus-icon" style="font-size: 20px; vertical-align: middle; color: #00c08d; padding-bottom: 3px;"></i>
                            Project
                            </a>
                        {% else %}
                            <i class="fas fa-plus plus-icon" style="font-size: 20px; vertical-align: middle; color: #00c08d; padding-bottom: 3px;"></i>
                            Login to create a new project
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="littleProjects-scrollView" style="margin-top: 40px; overflow-y: scroll; max-height: 700px;">
                {% for project in projects %}
                <div class="row littleProjects-outer-box">
                    <div class="row" name="expandPost" data-projectId = {{project.id}}>
                        <i class="fas fa-angle-down littleProjects-pocket" data-projectId = {{project.id}}></i>
                    </div>
                    <div class="row littleProjects-inner-box">
                        <div class="col-8">
                            <p class="littleProjects-projectTitle"> {{project.projectName}} </p>
                            <p class="littleProjects-projectShortDescription"> {{project.projectDescriptionShort}} </p>
                            <div style="display: none;" name="littleProjects-expandedPostView" id="littleProjects-expandedPostView_{{project.id}}">
                                <br>
                                <p><u>Details</u></p>
                                <p class="littleProjects-projectDetailedDescription">{{project.projectDescriptionDetailed}}</p>
                                {% if project.projectDonation_bool is True %}
                                    <form action="{% url 'littleProjects' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group" style="margin-top: 24px;">
                                            <p>Currently Donations: {{project.projectDonation_value}} €</p>
                                            <div class="row">
                                                <input style="width: 15%;" type="number" class="form-control" id="donationValueInput" name="donationValue" value="{{ project.projectDonation_value|add:1 }}" min="{{ project.projectDonation_value|add:1 }}">
                                                <p class="form-control" style="width: 5%; margin: 0px;">€</p>
                                                <input style="width: 25%; background-color: #00c08d;" type="submit" class="form-control" value="Place Donation">
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>    
                            <p class="littleProjects-projectCreationTimestamp"> <i>Created: {{project.projectCreationTimestamp}}</i></p>
                        </div>
                        <div class="col-4">
                            <div class="profilePhotoBorder">
                                <img class="profilePhoto" src={{project.projectOwner.profilePhotoUrl}} >
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div> 
        <div class="col-2"></div>
    </div>  
{% endblock %}
