.lp_image{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    width: 100%;
    border-top-right-radius: 0px ;
    border-top-left-radius: 0px ;
    opacity: 1;
    transition: .5s ease;
}
.lp_image_title{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    border-width: 0px;
    width: 100%;
    background-color: white;
    border-radius: 25px ;
    font-size: 20px;
}
.lp_image_container{
    margin-top: 48px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 0px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.lp_image_link{
    color: black;
    transition: .5s ease;
}
.lp_image_link:hover{
    color: #00d199;
    text-decoration: none;
}
.lp_image_link:hover .lp_image{
    opacity: 0.5;
}