.background{
    background-color: #d7faf1;
    z-index: 0;
}
.headerImg {
    /* The image used */
    background-image: url("/static/yayberhood/img/Heidelberg.jpg");
  
    min-height: 350px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
    z-index: 1;
}
.navbar{
    top: 65px;
    width: 100%;
    border-bottom-color: white;
    border-bottom-width: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
}
.navbar-skin{
    width: 100%;
    border-bottom-color: white;
    border-bottom-width: 10px;
    text-align: center;
}
.nav-link{
    color: white;
    margin-left: auto; 
    margin-right: auto;
    width: fit-content;
    font-size: 24px;
    border-bottom-color: white ;
    transition: .3s ease;
}
.nav-link:hover{
    color: #00d199;
}
.border-3{
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 3px;
}


.pageTitle-container{
    width: 100%;
    position: absolute;
    top: 320px;
    width: 100%;
    z-index: 1;
}
.pageTitle{
    width: 15%;
    margin: auto;

    padding-top: 10px;
    padding-bottom: 10px;

    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: grey;

    font-size: 24px;
    text-align: center;

    z-index: inherit;
    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


a.createButton{
    text-decoration: none;
    color: black
}
a.createButton:hover {
    color: #00c08d;
}

.postPocket{
    color: black;
    border-color: #00c08d;
    border-style: solid;
    border-width: 2px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 4px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}
.postPocket:hover{
    opacity: 50%;
    cursor: pointer;  
}


.expandedPostView{
    height: auto;
    max-height: 0px;
    opacity: 0;
}
.expandDetailedView{
    transition:  max-height 1.4s, opacity 1.5s;
    max-height: 999px;
    opacity: 1;
}
.expandDetailedView form{
    display: block;
}
.shrinkDetailedView{
    transition:  max-height 1.1s, opacity 1s;
    max-height: 0px;
    opacity: 0;
}

