.littleHelpers-offers{
    font-size: 20px;
    opacity: 0.5;
}
.littleHelpers-searches{
    font-size: 20px;
    opacity: 0.5;
}
.littleHelpers-typeEnabled{
    opacity: 1;
}
.littleHelpers-typeEnabled:hover{
    opacity: 0.5;
    cursor: pointer; 
}
.littleHelpers-typeDisabled{
    opacity: 0.5;
}
.littleHelpers-typeDisabled:hover{
    opacity: 1;
    cursor: pointer; 
}
.littleHelpers-outer-box{
    width: 100%;
    height: auto;
    background-color: #EBFCFF;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.littleHelpers-inner-box{
    width: 100%;
    height: auto;
    background-color: #EBFCFF;
    padding-bottom: 20px;
}
.littleHelpers-helpTitle{
    font-size: 24px;
    border-bottom: solid;
    border-width: 2px;
}
.littleHelpers-helpShortDescription{
    font-size: 18px;
}
.littleHelpers-scrollView{
    padding: 24px;
}
.littleHelpers-scrollView::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
.littleHelpers-scrollView::-webkit-scrollbar-track {
    background: rgb(143, 143, 143);        /* color of the tracking area */
    border-radius: 20px;       /* roundness of the scroll thumb */
}
.littleHelpers-scrollView::-webkit-scrollbar-thumb {
    background-color: #00c08d;    /* color of the scroll thumb */
    border-radius: 5px;
}
.row{
    margin-left: auto;
    margin-right: auto;
}
.profilePhoto{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    object-fit: cover;
}
.profilePhotoBorder{
    background-color: teal;
    border-radius: 50%;
    width: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: 0pc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.littleHelpers-createForm{
    padding: 24px;
}
.littleHelpers-helpCreationTimestamp{
    font-size: 12px;
    position: relative;
    bottom: 0px;
    margin-top: 40px;
}