.headerImg {
    /* The image used */
    background-image: url("/static/yayberhood/img/Heidelberg.jpg");
  
    min-height: 350px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
}
.navbar{
    top: 65px;
    width: 100%;
    border-bottom-color: white;
    border-bottom-width: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
}
.navbar-skin{
    width: 100%;
    border-bottom-color: white;
    border-bottom-width: 10px;
    text-align: center;
}
.nav-link{
    color: white;
    margin-left: auto; 
    margin-right: auto;
    width: fit-content;
    font-size: 26px;
    border-bottom-color: white ;
}
.nav-link:hover{
    color: #00d199;
}
.border-3{
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 3px;
}